<form [formGroup]="editProductForm" (ngSubmit)="onEditProd()">

    <h3 class="text-light bg-dark">Edit products</h3>

    <div class="form-group">
        <label for="product_id">Product Id</label>
        <input formControlName="product_id" type="text" class="form-control" readonly>

    </div>
    <div class="form-group">

        <label for="product_name">Product Name</label>
        <input formControlName="product_name" type="text" class="form-control">
        <div *ngIf="editProductForm.get('product_name')?.touched && editProductForm.get('product_name')?.errors?.required"
            class="alert alert-danger">Product Name required!</div>
    </div>

    <div class="form-group">
        <label for="stock">Stock</label>
        <input formControlName="stock" type="number" class="form-control">
        <div *ngIf="editProductForm.get('stock')?.touched && editProductForm.get('stock')?.errors?.required"
            class="alert alert-danger">Stock required!</div>
    </div>

    <div class="form-group">
        <label for="selling_price">Selling Price</label>
        <input formControlName="selling_price" type="number" class="form-control">
        <div *ngIf="editProductForm.get('selling_price')?.touched && editProductForm.get('selling_price')?.errors?.required"
            class="alert alert-danger">Selling price required!</div>
    </div>


    <div class="form-group">
        <label for="cost_price">Cost Price</label>
        <input formControlName="cost_price" type="number" class="form-control">
        <div *ngIf="editProductForm.controls.cost_price?.touched && editProductForm.get('cost_price')?.errors?.required"
            class="alert alert-danger">Cost price required!</div>
    </div>
    <button class="btn btn-primary" type="submit" [disabled]="!editProductForm.valid">
        Edit Product
    </button>
</form>