<a *ngIf="!isAdminLoggedIn()" routerLink="login">Login</a>


<a *ngIf="!isAdminLoggedIn()" routerLink="add-product">Add Product</a>



<div class='row'>
    <!-- <div class="col-xs-12 col-md-6 col-md-offset-3"> -->
        <!-- <p *ngIf="loadedPosts.length ==0">No posts available!</p> -->
        <!-- <ul class="list-group" *ngIf="loadedPosts.length > 0"> -->
            <!-- <ul class="list-group"> -->
            <li class="list-group-item" *ngFor="let prodc of loadedPosts">
                
                
                <!-- <h3>HEHE!</h3> -->
                <h3>{{ prodc.product_name }}</h3> 
                <p> {{ prodc.product_id }} </p>
                <p> {{ prodc.cost_price }} </p>
                <p> {{ prodc.selling_price }} </p>
                <p> {{ prodc.created_date }} </p>

                <p> <a *ngIf="!isAdminLoggedIn()" [routerLink]="['edit-product',prodc.product_id]">Edit</a>
                </p>

            </li>
        <!-- </ul> -->
    <!-- </div> -->

</div>